@model IEnumerable<Agile_board.Models.Column>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Agile Board</h1>
    <div class="row">
        @foreach (var column in Model)
        {
            <div class="col-sm-auto order-last" style="min-width:300px;">
                @{
                    var currButtonId = "AddTicketTo" + column.Name.Replace(" ", string.Empty) + "buttonId";
                    var currModalId = "AdditionModalFor" + column.Name.Replace(" ", string.Empty) + "Id";
                    var currUnitOfWork = new Agile_board.Models.UnitOfWork() { Column = column, Ticket = null };
                }


                <div class="row align-items-center">
                    <div class="col-sm-auto ">
                        <h2> @Html.DisplayFor(modelItem => column.Name)</h2>
                    </div>
                    <div class="col-sm-auto pl-1">
                        @{ Html.RenderPartial("TicketModal", @currUnitOfWork); }
                        <button id="@currButtonId" class="circleButton" data-toggle="modal" data-target="#@currModalId">+</button>
                    </div>
                </div>


                @foreach (var ticket in column.Tickets)
                {
                    var tempUnitOfWork = currUnitOfWork;
                    tempUnitOfWork.Ticket = ticket;
                    Html.RenderPartial("TicketCard", tempUnitOfWork);
                    Html.RenderPartial("TicketModal", tempUnitOfWork);
                }
            </div>
        }
    </div>

</div>

<script>
    $(document).ready(function () {
        if ("@ViewData["InvalidTicketName"]") {
            $("#@ViewData["ModalIdToOpen"]").modal('show');
            @ViewData.Remove("InvalidTicketName");
            @ViewData.Remove("ModalIdToOpen");
        }
    });
</script>

